.field_with_errors{
  display: inline-block;

  input{
    border: 2px solid red;
  }
}

.footer-main{
  padding: 20px 0px 20px 20px;
  background-color: #f8f9fa;

  p{
    line-height: 40px;
    margin: auto;
  }
}