<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shared-footer</title>
  <style>

    .footer-main{
      /* background-color: rgb(55, 215, 177); */
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  </style>
</head>
<body>
  <div class="footer-main">
    <p>
      2020 &copy; 吃飯 
    </p>
  </div>
  
</body>
</html>


<%# 
  &lt; --> less than
  &gt; --> greates than
%>