<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shared-navbar</title>
  <style>



 
    .navbar-main{
      background-color: rgb(55, 215, 177);
      padding: 10px;
      margin: 0;
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="navbar-main">
    <% if session[:ccc9527] %>
      哈囉！<%= session[:ccc9527] %> | 
      <%= link_to "登出", logout_path , method: 'delete'%> 
    <% else %>
      <a href="/sign_up">註冊</a>
      <a href="/login">登入</a>  
    <% end %>

    <%= flash[:notice] %>
    <!-- <% notice %> -->



  </div>
</body>
</html>


